Repository Lightning-AI/ecosystem-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @borda, @lantiga, @akihironitta, @Borda

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for review when someone opens a pull request.
* @borda @lantiga @akihironitta

# owners
/.github/CODEOWNERS   @Borda
# main
/README.md            @borda @lantiga

# CI/CD
/.github/workflows/   @borda @akihironitta
/.azure/              @borda @akihironitta
# configs in root
/*.yml                @borda

iff
  .github/workflows/ci_compatible.yml
Owners: @borda, @akihironitta

gh-token
  .github/actions/job-dump/action.yml
  .github/workflows/ci_compatible.yml
Owners: @borda, @lantiga, @akihironitta

meta
  .github/actions/job-dump/action.yml
  .github/workflows/ci_compatible.yml
Owners: @borda, @lantiga, @akihironitta

jobid + filter
  .github/actions/job-dump/action.yml
  .github/workflows/ci_compatible.yml
Owners: @borda, @lantiga, @akihironitta

py
  .github/actions/job-dump/action.yml
Owners: @borda, @lantiga, @akihironitta

payload
  actions/_config.yaml
  actions/assistant.py
Owners: @borda, @lantiga, @akihironitta

less
  .github/actions/job-dump/action.yml
  .github/workflows/ci_compatible.yml
  actions/assistant.py
Owners: @borda, @lantiga, @akihironitta

_actions
  .azure/testing-template.yml
  .github/actions/pytester/action.yml
  .github/workflows/ci_compatible.yml
  .github/workflows/ci_test-acts.yml
  Makefile
  README.md
  _actions/Dockerfile
  _actions/__init__.py
  _actions/_config.yaml
  _actions/assistant.py
  _actions/logo.png
  _actions/test_cli.py
Owners: @borda, @akihironitta, @lantiga

slack
  .github/workflows/ci_compatible.yml
  .github/workflows/dockers.yml
  _actions/assistant.py
  requirements.txt
Owners: @borda, @akihironitta, @lantiga

cleaning
  .github/actions/job-dump/action.yml
  .github/workflows/ci_compatible.yml
  _actions/_config.yaml
  _actions/assistant.py
Owners: @borda, @lantiga, @akihironitta
